@import "tailwindcss";

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #17af00;
  --color-secondary: teal;
  --color-base-100: #ebfff2;
  --color-base-200: var(--color-white);
  --color-border: var(--color-gray-200);
  --color-base-300: var(--color-gray-50);
  --color-pale: var(--color-gray-500);
}
@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;
  --color-secondary: teal;
  --color-primary: #17af00;
  --color-border: var(--color-gray-800);
  --color-pale: var(--color-gray-300);
}

.btn {
  @apply rounded-xl font-normal;
}

.input {
  @apply bg-base-200 rounded-xl text-base;
}

.hm-blocks-container {
  @apply bg-base-100 flex h-full flex-col gap-4 p-6;
}

.border-base {
  @apply border-[var(--color-border)];
}
.text-pale {
  color: var(--color-pale);
}
.hm-block {
  @apply bg-base-200 flex flex-col gap-2 rounded-xl border border-[var(--color-border)] p-6;
}
