@import "tailwindcss";

@plugin "daisyui" {
  themes: light, dark, retro;
}

@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #17af00;
  --color-secondary: teal;
  --color-base-100: #ebfff2;
}
@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;
  --color-secondary: teal;
  --color-primary: #17af00;
  /* --color-base-100: #001d0a; */
}

.btn {
  @apply rounded-xl font-normal;
}

.input {
  @apply dark:bg-base-100 rounded-xl;
}

.hm-blocks-container {
  @apply bg-base-100 flex h-full flex-col gap-4 p-6;
}

.hm-block {
  @apply flex flex-col gap-2 rounded-xl border border-gray-200 bg-white p-6;
}
