@import "tailwindcss";

@plugin "daisyui" {
  themes: light, dark, retro;
}

@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #17af00;
  --color-secondary: teal;
  --color-base-100: #ebfff2;
}
@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;
  --color-secondary: teal;
  --color-primary: #17af00;
  /* --color-base-100: #001d0a; */
}

.btn {
  @apply font-normal rounded-xl;
}

.input {
  @apply rounded-xl dark:bg-base-100;
}

.hm-blocks-container {
  @apply h-full bg-base-100 p-6 flex flex-col gap-4;
}

.hm-block {
  @apply rounded-xl bg-base-300 p-6 flex flex-col gap-2 border border-gray-200 dark:border-gray-700;
}
